<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css?v=<%= (Time.now.to_f * 1000).to_i %>" type="text/css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <title><%= title %></title>
  </head>
  <body>
<%= (yield).to_s.strip %>

  </body>
</html>
